.header-bottom{
    background-image: url("./assets/hero-leaf1.png"), url("./assets/hero-leaf2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 25%, 25%;
}

.main-card{
    grid-template-columns: 1fr 3fr 1fr;
}

/* 
.all-card:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
} */


@media not all and (min-width: 640px) {
.main-card{
    grid-template-columns: 1fr;
}
.card-no-2{
    grid-template-columns: 1fr; 
}

}